* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    background-color: #ffffff;
}
a {
    text-decoration: none;
}
.top-title {
    font-family: "Merriweather", serif;
    font-weight: lighter;
    text-align: center;
}
.container {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../image/無題.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.card {
    width: 45%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
}
.card p{
    text-align: center;
    margin: 30px 0;
}
.card-header {
    margin: 15px 0;
    font-size: 120%;
    text-align: center;
    font-family: "Merriweather", serif;
}
.card-body {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
.btn {
    cursor: pointer;
    margin: 15px auto;
    border-radius: 50px;
    display: block;
    padding: 6px 20px;
    color: #fff;
    font-size: 120%;
    background-color: rgb(97, 212, 141);
    border: none;
}
.btn:hover {
    background-color: #fff;
    color: rgb(97, 212, 141);
}
.form-group {
    text-align: center;
}
.form-check {
    margin-top: 6px;
}

.pass {
    display: flex;
    margin-top: 10px;
}
.label {
    margin-top: 10px;
}
.userdata {
    padding: 20px;
    width: 400px;
    position: absolute;
    top: 0;
    left: -400px;
    background-color: white;
    transition: 600ms;
}
.open-close {
    left: 0;
}
.logout-btn {
    margin-top: 20px;
}
.logout-btn a {
    color: black;
    border-bottom: 0.3px solid black;
}
.open-btn {
    background-color: #000000;
    width: 50px;
    height: 132px;
    color: white;
    position: absolute;
    top: 0;
    right: -51px;
    box-sizing: border-box;
    border-top: 0.5px white solid;
    border-right: 0.5px white solid;
    border-bottom: 0.5px white solid;
}
.icon {
    color: white;
    font-size: 180%;
    margin-bottom: 10px;
}
.open-btn p {
    transform: rotate(90deg);
    margin-bottom: 20px;
}
header {
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    position: relative;
}
.header-container {
    width: 100%;
    height: 30vh;
    background-image: url(../image/sirokuro3.1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.userName {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 20px;
    margin-top: 20px;
    font-family: "Cormorant Upright", serif;
    font-size: 30px;
}
.logout {
    position: absolute;
    top: 20px;
    right: 20px;
    font-family: "Cormorant Upright", serif;
    font-size: 30px;
}
.logout a {
    color: white;
}
header h2 {
    margin-left: 15px;
    font-weight: lighter;
}
.nav {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 0.5rem 0;
}
ul {
    list-style: none;
    display: flex;

    font-family: "Cormorant Upright", serif;
}

ul li a {
    color: black;
}
section {
    padding-top: 4vh;
    /* background-image: url(../image/無題.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
}

.blog-title {
    font-family: "Cormorant Upright", serif;
}
.list-title {
    margin-top: 30px;
    margin-left: 10%;
}
.blog-contents {
    width: 580px;
    margin-left: 10%;
    flex-wrap: wrap;
    margin-top: 2rem;
}
.blog-content {
    margin-bottom: 3rem;
    margin-right: 5px;
    display: flex;
    background-color: rgba(240, 240, 240, 0.9);
    padding: 15px 0 40px 10px;
    position: relative;
    width: 100%;
}
.blog-content a {
    color: black;
}
.threadName {
    margin-left: 10px;
    width: 50%;
}

.all-contents {
    text-align: left;
    width: 90%;
    margin: 0 auto;
    margin-top: 5vh;
}
.contents {
    width: 90%;
    line-height: 3rem;
}
.detail-title {
    padding-bottom: 1rem;
    width: 50%;
}

footer {
    width: 100%;
    background-color: #575757;
    padding: 0.5rem 0;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}
footer a {
    color: white;
}
footer p {
    font-family: "Dancing Script", cursive;
    font-size: 1.7rem;
}
form {
    display: flex;
    flex-direction: column;
    text-align: left;
}
input {
    font-size: 1.2rem;
}
textarea {
    font-size: 1.1rem;
}
.label {
    margin-top: 0.7rem;
}
.create-btn {
    width: 7rem;
    height: 2.5rem;
    border: rgb(89, 89, 184) 0.5px solid;
    border-radius: 50px;
    background-color: #fff;
    color: rgb(90, 90, 192);
    margin: 0 auto;
    margin-top: 1rem;
    box-shadow: 0 0 5px rgb(89, 89, 184);
    cursor: pointer;
    transition: 300ms;
}
.create-btn:hover {
    background-color: rgb(89, 89, 184);
    color: white;
    border: white;
}
.flash_message {
    color: red;
    text-align: center;
}
.err_msg {
    color: red;
}
.edit-btn,
.delete-btn {
    width: 60px;
    background-color: #fff;
    cursor: pointer;
    display: none;
    padding: 6px 0;
    color: #0ba049;
    border: #0ba049 0.3px solid;
}
.edit-btn:hover,
.delete-btn:hover {
    color: white;
    background-color: #0ba049;
}
.btn-group {
    display: none;
    position: absolute;
    top: -10px;
    right: -70px;
    width: 60px;
    z-index: 10;
}

.fixed-menu {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    width: 100%;
}
.app {
    margin-left: 10px;
}
.thread-data {
    display: flex;
    justify-content: space-between;
}
.comment-text {
    width: 50%;
    margin: 0 auto;
}
.name {
    padding-right: 10%;
}
hr {
    margin-bottom: 8vh;
}
.comment-form {
    margin-top: 15vh;
}
.contents p {
    line-height: 4.5vh;
}
.comment-data {
    display: flex;
    margin-bottom: 1.5vh;
}
.comment-data p {
    margin-right: 2vw;
}
.comment {
    margin-top: 30px;
    background-color: rgba(240, 240, 240, 0.9);
    padding: 10px;
    border: #e9e9e9 solid 0.1px;
}
.comment-count {
    position: absolute;
    bottom: 0;
    right: 50px;
    padding-bottom: 10px;
}
.reply-form {
    width: 30%;
    margin: 10px 0 40px 20px;
    display: none;
}
.reply-btn {
    font-size: 80%;
    margin-top: 20px;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
}
.reply-btn i {
    transform: rotate(90deg);
    margin-right: 10px;
}
.close {
    display: none;
}
.appear {
    display: flex !important;
}
.block {
    display: block !important;
}
.none{
    display: none !important;
}
.menuicon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    border: #12b456 solid 1.8px;
    display: none;
    cursor: pointer;
    background-color: #fff;
    transition: 300ms;
    position: absolute;
    right: 2%;
}
.menuicon:hover {
    border: #fff;
    background-color: #12b456;
}
.menuicon:hover .circle {
    background-color: white;
}
.circle {
    border-radius: 50%;
    width: 4px;
    height: 4px;
    background-color: #12b456;
}
.triangle {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 15px solid #12b456;
    border-bottom: 10px solid transparent;
    display: none;
    position: absolute;
    top: 25px;
    left: -15px;
}
